// .navBar {
//   margin: 10px;
// }

.navLink {
  color: white;
}

.navRowStyle {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

// .login { 
  
// }

// .navEl {
//   color: white;
// }

// .navbar-nav {
//   color: white;
// }

